@keyframes fadein{
    0%{opacity: 0;
         }
    100%{
        opacity: 1;

    }
}
@-webkit-keyframes fadein{
        0%{opacity: 0;
         }
    100%{
        opacity: 1;

    }
}
@-moz-keyframes fadein{
        0%{opacity: 0;
         }
    100%{
        opacity: 1;

    }
}
@-o-keyframes fadein{
        0%{opacity: 0;
         }
    100%{
        opacity: 1;

    }
}
@-ms-keyframes fadein
{
        0%{opacity: 0;
         }
    100%{
        opacity: 1;

    }
}
body
{
    animation:fadein 2s linear 1;
    -webkit-animation:fadein 2s linear 1;
    -moz-animation:fadein 2s linear 1;
    -o-animation:fadein 2s linear 1;
    -ms-animation:fadein 2s linear 1;
}



.text-box 
{
    margin-top: 20px;
}

.btn:link,
.btn:visited 
{
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: absolute;
}

.btn:hover 
{
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active 
{
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white 
{
    background-color:#ece7e5;
    color: #777;
}

.btn::after 
{
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after 
{
    background-color:#ece7e5;
}

.btn:hover::after 
{
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated 
{
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom 
{
    0% 
    {
        opacity: 0;
        transform: translateY(30px);
    }

    100% 
    {
        opacity: 1;
        transform: translateY(0px);
    }
}

div.individual1
{
    background-color:#ece7e5;
    width: 1200px; 
    height: 600px;
    overflow: scroll;
}
div.individual2
{
    background-color:#ece7e5;
    width: 1200px; 
    height: 600px;
    overflow: scroll;
}
div.individual3
{
    background-color:#ece7e5;
    width: 1200px; 
    height: 600px;
    overflow: scroll;
}