@keyframes fadein{
    0%{opacity: 0;
         }
    100%{
        opacity: 1;

    }
}
@-webkit-keyframes fadein{
        0%{opacity: 0;
         }
    100%{
        opacity: 1;

    }
}
@-moz-keyframes fadein{
        0%{opacity: 0;
         }
    100%{
        opacity: 1;

    }
}
@-o-keyframes fadein{
        0%{opacity: 0;
         }
    100%{
        opacity: 1;

    }
}
@-ms-keyframes fadein
{
        0%{opacity: 0;
         }
    100%{
        opacity: 1;

    }
}
body
{
    animation:fadein 2s linear 1;
    -webkit-animation:fadein 2s linear 1;
    -moz-animation:fadein 2s linear 1;
    -o-animation:fadein 2s linear 1;
    -ms-animation:fadein 2s linear 1;
}
div.post
{
    background-color:#ece7e5;
    width: 1200px; 
    height: 600px;
    overflow: scroll;
}