@keyframes fadein{
  0%{opacity: 0;
       }
  100%{
      opacity: 1;

  }
}
@-webkit-keyframes fadein{
      0%{opacity: 0;
       }
  100%{
      opacity: 1;

  }
}
@-moz-keyframes fadein{
      0%{opacity: 0;
       }
  100%{
      opacity: 1;

  }
}
@-o-keyframes fadein{
      0%{opacity: 0;
       }
  100%{
      opacity: 1;

  }
}
@-ms-keyframes fadein
{
      0%{opacity: 0;
       }
  100%{
      opacity: 1;

  }
}
body
{
  animation:fadein 2s linear 1;
  -webkit-animation:fadein 2s linear 1;
  -moz-animation:fadein 2s linear 1;
  -o-animation:fadein 2s linear 1;
  -ms-animation:fadein 2s linear 1;
}

html,body 
{
  height: 100%;
}

body 
{
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.form-signin 
{
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox 
{
  font-weight: 400;
}
.form-signin .form-control 
{
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus 
{
  z-index: 2;
}
.form-signin input[type="email"] 
{
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] 
{
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#custom-alert 
{
  top: 10px;
  position: fixed;
}

